.upgrade-div {
	display: inline-block;
	float: left;
}

.upgrade-button {
	width: 110px;
	height: 110px;
	margin-top: -7px;
}

.upgrade-div span {
  max-width: 0;
  -webkit-transition: max-width 0.7s;
  transition: max-width 0.7s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  background-image: url("images/background.png");
	background-size: 110px;
	margin-top: -7px;
	margin-left: -110px;
	cursor: pointer;
}

.upgrade-div span div {
	width: 110px;
	height: 110px;
	padding: 5px;
	overflow-wrap: normal;
	white-space: normal;
	font-size: 10px;
	color: green;
}

.upgrade-div span div h1 {
	font-size: 10px;
}

.card-body {
	background-color: #909090;
}

.map-part {
	cursor: pointer;
}

.map-part:hover{
	fill: green;
}

.svg-div {
	position: relative;
	width: 0;
	height: 0;
}

.map-svg {
	position: relative;
}

.reset-button {
	position: relative;
}

.dropdown {
	position:relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: fixed;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(3, 3, 3, 0.2);
	border: 1px solid black;
	border-radius: 3px;
	z-index: 1;
	text-align: center;
  }

  .dropdown:hover .dropdown-content {
	display: block;
	min-width: 50px;
	max-width: 200px;
  }

p{
	border: 1px solid;
	display: inline-block;
	padding: 5px;
}

.theme_botton{
	border: 2px solid rgb(50, 50, 53);
	-webkit-border-radius:55%;
    -moz-border-radius:55%;
    border-radius:55%;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 7px;
	width: 50px;
	height: 50px;
	text-align: center;
}

.darkmode{
	width: 50px;
	height: 50px;
}
